footer {
    background-color: #F65121;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

footer .nav {
    display: none;
}

footer i {
    transition: transform 0.3s ease, color 0.3s ease;
}

footer i:hover {
    transform: scale(1.3);
}