@import url('header.css');
@import url('hero.css');
@import url('reusedStyle.css');
@import url('cards.css');
@import url('quore.css');
@import url('proyects.css');
@import url('contact.css');
@import url('footer.css');
@import url('mediaquerys.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141517;
    font-family: "Quicksand", sans-serif;
}

